<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee" version="2.4">

    <display-name>web</display-name>

    <!-- filter definition begin -->
    <filter>
        <filter-name>Encoding</filter-name>
        <filter-class>com.thinkive.web.common.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>Cache</filter-name>
        <filter-class>com.thinkive.web.common.filter.CacheFilter</filter-class>
        <init-param>
            <param-name>time</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>scope</param-name>
            <param-value>application</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>ERROR</param-value>
        </init-param>
    </filter>
    

    <!-- filter-mapping definition begin -->
    <filter-mapping>
        <filter-name>Encoding</filter-name>
        <url-pattern>*.shtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Encoding</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Encoding</filter-name>
        <url-pattern>/servlet/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Encoding</filter-name>
        <url-pattern>/cgi-bin/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>*.shtml</url-pattern>
    </filter-mapping>
    


    <!-- listener definition begin -->
    <listener>
        <listener-class>com.project.listener.ApplicationLifecycleListener</listener-class>
    </listener>
  <!-- listener definition end -->


    <!-- servlet definition begin -->
    <servlet>
        <servlet-name>FastServlet</servlet-name>
        <servlet-class>com.thinkive.web.base.FastServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SSIServlet</servlet-name>
        <servlet-class>com.thinkive.web.common.servlet.SSIServlet</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadifySerlet</servlet-name>
    <servlet-class>root.UploadifySerlet</servlet-class>
  </servlet>

    <!-- servlet definition end -->
    
    


    <!-- servlet-mapping definition begin -->
    <servlet-mapping>
        <servlet-name>FastServlet</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FastServlet</servlet-name>
        <url-pattern>/cgi-bin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSIServlet</servlet-name>
        <url-pattern>*.shtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SSIServlet</servlet-name>
        <url-pattern>*.shtm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UploadifySerlet</servlet-name>
    <url-pattern>/servlet/UploadifySerlet</url-pattern>
  </servlet-mapping>
    <!-- servlet-mapping definition end -->


    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.shtml</welcome-file>
        <welcome-file>index.shtm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/exception.jsp</location>
    </error-page>


    <jsp-config>
        <taglib>
            <taglib-uri>oscache</taglib-uri>
            <taglib-location>/WEB-INF/tlds/oscache.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tags/jstl-core</taglib-uri>
            <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tags/jstl-format</taglib-uri>
            <taglib-location>/WEB-INF/tlds/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tags/jstl-function</taglib-uri>
            <taglib-location>/WEB-INF/tlds/fn.tld</taglib-location>
        </taglib>
         <taglib>
	        <taglib-uri>/tags/stringHelper</taglib-uri>
	        <taglib-location>/WEB-INF/tlds/stringHelper.tld</taglib-location>
		</taglib>
    </jsp-config>
</web-app>
 
